In [1]:
#Import Dependencies 
import pandas as pd

In [2]:
#Make a reference to the csv file path
heroes_of_pymoli = "Resources/purchase_data.csv"

In [3]:
#Import the csv file as Data\Frame
heroes_of_pymoli_df = pd.read_csv(heroes_of_pymoli)
heroes_of_pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#Calculate Total Number of Players 
Total_players = heroes_of_pymoli_df["SN"].nunique()
Total_players_df = pd.DataFrame({"Total Players": [Total_players]})
Total_players_df

   Total Players
0            576

In [5]:
#Calculate Number of Unique Items using either Item Name or Item ID
Unique_Item_Count = heroes_of_pymoli_df["Item Name"].nunique()
Unique_Item_Count

179

In [6]:
#Calculate Average Purchase Price
Average_Purchase_Price = heroes_of_pymoli_df["Price"].mean()
Average_Purchase_Price

3.050987179487176

In [7]:
#Calculate Total Number of Purchases
Total_Purchase = heroes_of_pymoli_df["Purchase ID"].count()
Total_Purchase

780

In [8]:
#Total Revenue
Total_Revenue = heroes_of_pymoli_df["Price"].sum()
Total_Revenue

2379.77

In [9]:
#DataFrame for Purchasing Analysis(Total)
data_df = pd.DataFrame({"Number of Unique Items": [Unique_Item_Count], 
                      "Average Price": [Average_Purchase_Price],
                     "Number of Purchases": [Total_Purchase], 
                       "Total Revenue": [Total_Revenue]})

data_df["Average Price"] = data_df["Average Price"].map("${0:,.3}".format)
data_df["Total Revenue"] = data_df["Total Revenue"].map("${0:,.8}".format)
data_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [10]:
#Calculate percentage and count of Male Players
grouped_player = heroes_of_pymoli_df.groupby(['Gender'])
grouped_player.first()
#grouped_player["Gender"].count()

,Purchase ID,SN,Age,Item ID,Item Name,Price
Gender,,,,,,
Female,15,Lisassa64,21,98,"Deadline, Voice Of Subtlety",2.89
Male,0,Lisim78,20,108,"Extraction, Quickblade Of Trembling Hands",3.53
Other / Non-Disclosed,9,Chanosian48,35,136,Ghastly Adamantite Protector,3.58

In [11]:
# Male Count
male_count = grouped_player["SN"].nunique()["Male"]
male_count

484

In [12]:
#Female Count
female_count = grouped_player["SN"].nunique()["Female"]
female_count

81

In [13]:
#Other/Non-Disclosed Count
other_count = grouped_player["SN"].nunique()["Other / Non-Disclosed"]
other_count

11

In [14]:
#Percentage
Percent_male = (male_count/Total_players)*100
Percent_male

84.02777777777779

In [15]:
Percent_female = (female_count/Total_players)*100
Percent_female

14.0625

In [16]:
Percent_other = (other_count/Total_players)*100
Percent_other

1.9097222222222223

In [17]:
#DataFrame for Count and Percentage of Players by Gender
Count_Percent = pd.DataFrame({"Total Count": [male_count, female_count, other_count], 
                              "Percentage of Players": [Percent_male, Percent_female, Percent_other]})
Count_Percent.rename(index={0: "Male", 1: "Female", 2: "Other/Non-Disclosed"},inplace=True)
Count_Percent["Percentage of Players"] = Count_Percent["Percentage of Players"].map("{0:,.4}%".format)
Count_Percent

                     Total Count Percentage of Players
Male                         484                84.03%
Female                        81                14.06%
Other/Non-Disclosed           11                 1.91%

In [18]:
#Purchasing Analysis by Gender
Purchase_count_df = heroes_of_pymoli_df.groupby("Gender")
Purchase_count_df.first()

,Purchase ID,SN,Age,Item ID,Item Name,Price
Gender,,,,,,
Female,15,Lisassa64,21,98,"Deadline, Voice Of Subtlety",2.89
Male,0,Lisim78,20,108,"Extraction, Quickblade Of Trembling Hands",3.53
Other / Non-Disclosed,9,Chanosian48,35,136,Ghastly Adamantite Protector,3.58

In [19]:
#Calcuate Purchase count by gender
Purchase_count = Purchase_count_df["Purchase ID"].count()
Purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [20]:
#Calculate Average puchase count by gender 
Average_purchase = Purchase_count_df['Price'].mean()
Average_purchase

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [21]:
#Calculate Total purchase value by gender 
Purchase_value = Purchase_count * Average_purchase
Purchase_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
dtype: float64

In [22]:
#Average Total Purchase per person
avg_female = Purchase_value["Female"]/female_count
avg_male = Purchase_value["Male"]/male_count
avg_other = Purchase_value["Other / Non-Disclosed"]/other_count
print(avg_female)
print(avg_male)
print(avg_other)

4.4683950617283905
4.065371900826445
4.562727272727273

In [23]:
#Purchasing analysis (Gender) dataframe
purchasing_analysis_gender = pd.DataFrame({"Purchase Count": Purchase_count, 
                                          "Average Purchase Price": Average_purchase,
                                          "Total Purchase Value":Purchase_value, 
                                          "Avg Total Purchase per Person": [avg_female, avg_male, avg_other] })
purchasing_analysis_gender.rename(index={0: "Male", 1: "Female", 2: "Other/Non-Disclosed"},inplace=True)
purchasing_analysis_gender["Average Purchase Price"] = purchasing_analysis_gender["Average Purchase Price"].map("${0:,.3}".format)
purchasing_analysis_gender["Total Purchase Value"] = purchasing_analysis_gender["Total Purchase Value"].map("${0:,.8}".format)
purchasing_analysis_gender["Avg Total Purchase per Person"] = purchasing_analysis_gender["Avg Total Purchase per Person"].map("${0:,.3}".format)
purchasing_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.2,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [24]:
#Create bins for  age demographics 
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

#Create labels for bins 
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize existing players using age bins
demo_ages = heroes_of_pymoli_df
demo_ages["Age Ranges"] = pd.cut(demo_ages["Age"], bins, labels=group_labels)

#Create a group by and count total player by age category 
demo_ages_grouped = demo_ages.groupby("Age Ranges")
Total_age_count = demo_ages_grouped["SN"].nunique()

#Calculate Percentage by age category
age_percentage = (Total_age_count/Total_players) * 100

#Create a dataframe for values 
Age_demographic_summary = pd.DataFrame({"Total Count": Total_age_count, 
                                          "Percentage of Players": age_percentage})
#Remove index name
Age_demographic_summary.index.name =None

#Format percentage to two decimal places 
Age_demographic_summary["Percentage of Players"] = Age_demographic_summary["Percentage of Players"].map("{0:,.3}%".format)
Age_demographic_summary

#or use this: Age_demographic_summary.style.format({"Percentage of Players" :"{:,.3}%"})

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                 18.6%
20-24          258                 44.8%
25-29           77                 13.4%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [25]:
#Calculate Purchase Count by age group
age_purchase_count = demo_ages_grouped["Purchase ID"].count()
age_purchase_count

<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

In [26]:
#Calculate Average Purchase Price by age group
Average_purchase = demo_ages_grouped['Price'].mean()
Average_purchase

<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [27]:
#Calculate Total Purchase Value by age group
Purchase_value_age = age_purchase_count * Average_purchase
Purchase_value_age

<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
dtype: float64

In [28]:
#Calculate Average Purchase Total per Person by Age Group
Average_Total_age = Purchase_value_age/Total_age_count
Average_Total_age

<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [29]:
#Create a dataframe for variables purchase analysis by age 
purchasing_analysis_age = pd.DataFrame({"Purchase Count": age_purchase_count, 
                                          "Average Purchase Price": Average_purchase,
                                          "Total Purchase Value":Purchase_value_age, 
                                          "Avg Total Purchase per Person":Average_Total_age })

#Format dataframe 
purchasing_analysis_age["Average Purchase Price"] = purchasing_analysis_age["Average Purchase Price"].map("${0:,.3}".format)
purchasing_analysis_age["Total Purchase Value"] = purchasing_analysis_age["Total Purchase Value"].map("${0:,.8}".format)
purchasing_analysis_age["Avg Total Purchase per Person"] = purchasing_analysis_age["Avg Total Purchase per Person"].map("${0:,.3}".format)
purchasing_analysis_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.9,$293.0,$3.81
30-34,73,$2.93,$214.0,$4.12
35-39,41,$3.6,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [30]:
#Identify the top 5 spenders in the game by total purchase value
#Create a Dataframe from original CSV
original_pymoli_df = pd.DataFrame(heroes_of_pymoli_df)

#Group spenders by "SN"
SN_grouped = original_pymoli_df.groupby("SN")

SN_spenders_count = SN_grouped["Purchase ID"].count()

#Calculate average purchase price by "SN"
SN_avg_purchase = SN_grouped["Price"].mean()

#Calculate total purchase value by "SN"
SN_total_purchase = SN_grouped["Price"].sum()

#Put all values in a dataframe
top_spenders_df = pd.DataFrame({"Purchase Count": SN_spenders_count, 
                      "Average Purchase Price": SN_avg_purchase, 
                       "Total Purchase Value": SN_total_purchase})

top_spenders_df["Average Purchase Price"] = top_spenders_df["Average Purchase Price"].map("${0:,.3}".format)
top_spenders_df["Total Purchase Value"] = top_spenders_df["Total Purchase Value"].map("${0:,.3}".format)
top_spenders_df

               Purchase Count Average Purchase Price Total Purchase Value
SN
Adairialis76                1                  $2.28                $2.28
Adastirin33                 1                  $4.48                $4.48
Aeda94                      1                  $4.91                $4.91
Aela59                      1                  $4.32                $4.32
Aelaria33                   1                  $1.79                $1.79
...                       ...                    ...                  ...
Yathecal82                  3                  $2.07                $6.22
Yathedeu43                  2                  $3.01                $6.02
Yoishirrala98               1                  $4.58                $4.58
Zhisrisu83                  2                  $3.94                $7.89
Zontibe81                   3                  $2.68                $8.03

[576 rows x 3 columns]

In [31]:
1. Create your age_bins
2. Create groupe_name
3. demo_ages = heroes_of_pymoli_df
4. demo_ages["Age Ranges"] = pd.cut(demo_age['Age'],.....)
5. demo_ages_grouped = demo_ages.groupby('Age Ranges')
6. Do yhour calcualtions
 for example: count_age = demo_ages_brouped['SN'].nunique()

SyntaxError: invalid syntax (<ipython-input-31-28812175610d>, line 1)