In [1]:
#Import Dependencies 
import pandas as pd

In [2]:
#Make a reference to the csv file path
heroes_of_pymoli = "Resources/purchase_data.csv"

In [3]:
#Import the csv file as Data\Frame
heroes_of_pymoli_df = pd.read_csv(heroes_of_pymoli)
heroes_of_pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#Player Count
#Calculate Total Number of Players 
Total_players = heroes_of_pymoli_df["SN"].nunique()
Total_players_df = pd.DataFrame({"Total Players": [Total_players]})
Total_players_df

   Total Players
0            576

In [78]:
#Purchasing Analysis (Total)
#Calculate Number of Unique Items using either Item Name or Item ID
Unique_Item_Count = heroes_of_pymoli_df["Item Name"].nunique()

#Calculate Average Purchase Price
Average_Purchase_Price = heroes_of_pymoli_df["Price"].mean()

#Calculate Total Number of Purchases
Total_Purchase = heroes_of_pymoli_df["Purchase ID"].count()

#Total Revenue
Total_Revenue = heroes_of_pymoli_df["Price"].sum()

#DataFrame for Purchasing Analysis(Total)
data_df = pd.DataFrame({"Number of Unique Items": [Unique_Item_Count], 
                      "Average Price": [Average_Purchase_Price],
                     "Number of Purchases": [Total_Purchase], 
                       "Total Revenue": [Total_Revenue]})

data_df["Average Price"] = data_df["Average Price"].map("${0:,.3}".format)
data_df["Total Revenue"] = data_df["Total Revenue"].map("${0:,.8}".format)
data_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [79]:
#Gender Demographics

#Calculate percentage and count of Male Players
grouped_player = heroes_of_pymoli_df.groupby(['Gender'])

# Male Count
male_count = grouped_player["SN"].nunique()["Male"]

#Female Count
female_count = grouped_player["SN"].nunique()["Female"]

#Other/Non-Disclosed Count
other_count = grouped_player["SN"].nunique()["Other / Non-Disclosed"]

#Percentage of male count
Percent_male = (male_count/Total_players)*100

#Percentage of female count
Percent_female = (female_count/Total_players)*100

#Percentage of other 
Percent_other = (other_count/Total_players)*100

#DataFrame for Count and Percentage of Players by Gender
Count_Percent = pd.DataFrame({"Total Count": [male_count, female_count, other_count], 
                              "Percentage of Players": [Percent_male, Percent_female, Percent_other]})
Count_Percent.rename(index={0: "Male", 1: "Female", 2: "Other/Non-Disclosed"},inplace=True)
Count_Percent["Percentage of Players"] = Count_Percent["Percentage of Players"].map("{0:,.4}%".format)
Count_Percent

                     Total Count Percentage of Players
Male                         484                84.03%
Female                        81                14.06%
Other/Non-Disclosed           11                 1.91%

In [80]:
#Purchasing Analysis by Gender
Purchase_count_df = heroes_of_pymoli_df.groupby("Gender")

#Calcuate Purchase count by gender
Purchase_count = Purchase_count_df["Purchase ID"].count()

#Calculate Average puchase count by gender 
Average_purchase = Purchase_count_df['Price'].mean()

#Calculate Total purchase value by gender 
Purchase_value = Purchase_count * Average_purchase

#Average Total Purchase per person
avg_female = Purchase_value["Female"]/female_count
avg_male = Purchase_value["Male"]/male_count
avg_other = Purchase_value["Other / Non-Disclosed"]/other_count

#Purchasing analysis (Gender) dataframe
purchasing_analysis_gender = pd.DataFrame({"Purchase Count": Purchase_count, 
                                          "Average Purchase Price": Average_purchase,
                                          "Total Purchase Value":Purchase_value, 
                                          "Avg Total Purchase per Person": [avg_female, avg_male, avg_other] })
purchasing_analysis_gender.rename(index={0: "Male", 1: "Female", 2: "Other/Non-Disclosed"},inplace=True)
purchasing_analysis_gender["Average Purchase Price"] = purchasing_analysis_gender["Average Purchase Price"].map("${0:,.3}".format)
purchasing_analysis_gender["Total Purchase Value"] = purchasing_analysis_gender["Total Purchase Value"].map("${0:,.8}".format)
purchasing_analysis_gender["Avg Total Purchase per Person"] = purchasing_analysis_gender["Avg Total Purchase per Person"].map("${0:,.3}".format)
purchasing_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.2,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [24]:
#Create bins for  age demographics 
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

#Create labels for bins 
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize existing players using age bins
demo_ages = heroes_of_pymoli_df
demo_ages["Age Ranges"] = pd.cut(demo_ages["Age"], bins, labels=group_labels)

#Create a group by and count total player by age category 
demo_ages_grouped = demo_ages.groupby("Age Ranges")
Total_age_count = demo_ages_grouped["SN"].nunique()

#Calculate Percentage by age category
age_percentage = (Total_age_count/Total_players) * 100

#Create a dataframe for values 
Age_demographic_summary = pd.DataFrame({"Total Count": Total_age_count, 
                                          "Percentage of Players": age_percentage})
#Remove index name
Age_demographic_summary.index.name =None

#Format percentage to two decimal places 
Age_demographic_summary["Percentage of Players"] = Age_demographic_summary["Percentage of Players"].map("{0:,.3}%".format)
Age_demographic_summary

#or use this: Age_demographic_summary.style.format({"Percentage of Players" :"{:,.3}%"})

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                 18.6%
20-24          258                 44.8%
25-29           77                 13.4%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [81]:
#Purchasing Analysis (Age)
#Calculate Purchase Count by age group
age_purchase_count = demo_ages_grouped["Purchase ID"].count()

#Calculate Average Purchase Price by age group
Average_purchase = demo_ages_grouped['Price'].mean()

#Calculate Total Purchase Value by age group
Purchase_value_age = age_purchase_count * Average_purchase

#Calculate Average Purchase Total per Person by Age Group
Average_Total_age = Purchase_value_age/Total_age_count

#Create a dataframe for variables purchase analysis by age 
purchasing_analysis_age = pd.DataFrame({"Purchase Count": age_purchase_count, 
                                          "Average Purchase Price": Average_purchase,
                                          "Total Purchase Value":Purchase_value_age, 
                                          "Avg Total Purchase per Person":Average_Total_age })

#Format dataframe 
purchasing_analysis_age["Average Purchase Price"] = purchasing_analysis_age["Average Purchase Price"].map("${0:,.3}".format)
purchasing_analysis_age["Total Purchase Value"] = purchasing_analysis_age["Total Purchase Value"].map("${0:,.8}".format)
purchasing_analysis_age["Avg Total Purchase per Person"] = purchasing_analysis_age["Avg Total Purchase per Person"].map("${0:,.3}".format)
purchasing_analysis_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.9,$293.0,$3.81
30-34,73,$2.93,$214.0,$4.12
35-39,41,$3.6,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [73]:
#Identify the top 5 spenders in the game by total purchase value
#Create a Dataframe from original CSV
original_pymoli_df = pd.DataFrame(heroes_of_pymoli_df)

#Group spenders by "SN"
SN_grouped = original_pymoli_df.groupby("SN")

SN_spenders_count = SN_grouped["Purchase ID"].count()

#Calculate average purchase price by "SN"
SN_avg_purchase = SN_grouped["Price"].mean()

#Calculate total purchase value by "SN"
SN_total_purchase = SN_grouped["Price"].sum()

#Put all values in a dataframe
top_spenders_df = pd.DataFrame({"Purchase Count": SN_spenders_count, 
                      "Average Purchase Price": SN_avg_purchase, 
                       "Total Purchase Value": SN_total_purchase})

top_spenders_sort = top_spenders_df.sort_values(["Total Purchase Value"], ascending=False).head()
#top_spender_sort.head()

top_spenders_sort["Average Purchase Price"] = top_spenders_sort["Average Purchase Price"].map("${0:,.3}".format)
top_spenders_sort["Total Purchase Value"] = top_spenders_sort["Total Purchase Value"].map("${0:,.8}".format)
top_spenders_sort

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                   $3.4               $13.62
Iskadarya95               3                  $4.37                $13.1

In [75]:
#Most Popular Item 
#Retrieve Item Id, Name and Price 
most_popular_df = original_pymoli_df[["Item ID", "Item Name", "Price"]]

#Groupby item ID and item name 
items_info_grouped = most_popular_df.groupby(["Item ID", "Item Name"])

#Calculate purchase count
popular_purchase_count = items_info_grouped["Item ID"].count()

#Calculate total purchase value 
pop_purchase_value = (items_info_grouped["Price"].sum())

#Calculate item price 
popular_item_price = pop_purchase_value/popular_purchase_count

#Put all values in a dataframe
pop_item_df = pd.DataFrame({"Purchase Count": popular_purchase_count, 
                         "Item Price": popular_item_price, 
                       "Total Purchase Value": pop_purchase_value})

pop_item_sort = pop_item_df.sort_values(["Purchase Count"], ascending=False).head()

pop_item_sort["Item Price"] = pop_item_sort["Item Price"].map("${0:,.3}".format)
pop_item_sort["Total Purchase Value"] = pop_item_sort["Total Purchase Value"].map("${0:,.8}".format)
pop_item_sort

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [77]:
#Most Profitable Items
pop_item_sort = pop_item_df.sort_values(["Total Purchase Value"], ascending=False).head()

pop_item_sort["Item Price"] = pop_item_sort["Item Price"].map("${0:,.3}".format)
pop_item_sort["Total Purchase Value"] = pop_item_sort["Total Purchase Value"].map("${0:,.8}".format)
pop_item_sort

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.9,$44.1
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.8